@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
*, *:before, *:after {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
}

input[type=checkbox] {

}

.heading {
  color: #fff;
  background-color: #001650;
  padding: 20px 45px;
  font-weight: bold;
  position: relative;
}

.heading-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -8px;
}

.heading-count {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -14px;
}

.heading-count-check {
  font-size: 20px;
  padding-right: 5px;
}

.heading-count-item {
  padding-left: 2px;
  font-size: 15px;
}

.check-list {
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.check-list li {
  background: #fff;
  padding: 5px;
  position: relative;
  margin: 0 0 1px 0;
}

.check-list li:hover {
  cursor: pointer;
  opacity: .9;
}

.check-list li > * {
  /*display: inline-block;*/
}
