@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

*, *:before, *:after {
  box-sizing: border-box;
}

body, p {
  margin: 0;
  padding: 0;
}

input[type=checkbox] {
  margin: 0;
  display: none;
}

.heading {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.heading-inner {
  color: #fff;
  background-color: #001650;
  padding: 15px 45px;
  font-weight: bold;
  position: relative;
}

.heading-title {
  width: 150px;
  margin-left: 8px;
  margin-top: 5px;
}

.heading-icon {
  width: 26px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -13px;
}

.heading-icon-status {
  position: absolute;
  top: 50%;
  right: 80px;
  margin-top: -9px;
}

.heading-count {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
}

.heading-count-check {
  font-size: 20px;
  padding-right: 5px;
}

.heading-count-item {
  padding-left: 2px;
  font-size: 14px;
  font-weight: 100;
}

.check-list {
  width: 400px;
  padding: 0;
  margin: 51px 0 0;
  list-style: none;
}

.check-list li {
  background: #fff;
  position: relative;
  margin: 0 0 1px 0;
  color: #001650;
  border-bottom: 1px solid #e2e2e2;
}

.check-list-item:hover {
  opacity: .9;
}

.check-list-item:after {
  content: '';
  clear: both;
  display: block;
}

.check-list-item > * {
  display: inline-block;
  width: 10%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.check-list-item > *:first-child {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 2px 5px;
  margin-left: 10px;
  border: solid 1px #fff;
  border-radius: 3px;
  background-color: #fff;
  color: #001650;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 130px;
  margin-top: -10px;
}

.btn:hover {
  opacity: .7;
}

.checkbox {
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  padding: 12px 12px 12px 42px;
  background-color: #f6f7f8;
}

.checkbox:hover {
  background-color: #e2edd7;
}

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 5px;
  height: 9px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  z-index: 5;
}

.checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block !important;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border: 1px solid #001650;
  border-radius: 4px;
  content: '';
}

input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

input[type=checkbox]:checked + .checkbox:after {
  background-color: #001650;
}
